th {
        padding: 0.5em;
}
td {
        padding: 0.25em;
}

table {
        border-collapse: collapse;
}

.linguistics {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100%;
        font-weight: normal;
	padding-left: 1em;
	padding-right: 1em;
}

.linguistics > * {
	flex: 0;
}

.ipachart {
}

.misc-consonants-list {
	display: flex;
}

.linguistics > .window-styled.radio-header {
	margin: 0;
}

.linguistics .radio-header {
	width: 100%;
}

.container-xsampa, .container-ipa {
	padding: 0.5em;
}

.sequence {
	position: relative;
}

.sequence > .sequence-tooltip {
	display: none;
	z-index: 1;
	background-color: var(--highlight-color);
}

.sequence:hover > .sequence-tooltip, .sequence-tooltip:hover {
	position: absolute;
	display: block ruby;
}

.sequence-ipa, .sequence-xsampa, .sequence-tooltip {
	padding: 5px;
	border: solid 1px var(--window-border-color);
	border-radius: 2px;
}

.sequence:hover > .sequence-ipa, .sequence:hover > .sequence-xsampa, .sequence-ipa:hover, .sequence-xsampa:hover {
	border-color: transparent;
	background-color: var(--highlight-color);
}
