:root {
        --sri-line-height: 1.5em;
}

.srinawesin {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        white-space: pre-wrap;
	padding-left: 10em;
	padding-right: 10em;
}

.srinawesin .sample {
	position: relative;
	overflow: hidden;
}

.srinawesin .sample .radio-header.window-styled {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
}
.srinawesin .sample .radio-header.window-styled > * {
	padding-top: 5px;
	padding-bottom: 5px;
}

.srinawesin .sample > :last-child {
	overflow: auto;
}

.srinawesin .original, .srinawesin .translation {
        line-height: var(--sri-line-height);
}

.srinawesin .verse .sample-separated, .srinawesin .verse .sample-linehover {
        text-align: center;
        font-style: italic;
}

.srinawesin .sample-linehover div:hover {
	background: var(--window-background-color);
}

.srinawesin .sc {
        font-family: 'AlegreyaSansSC';
        font-size: 1.25em;
}
.srinawesin .sample {
        font-family: 'AlegreyaSans';
        font-size: 1.25em;
}
