@import '../node_modules/modern-normalize/modern-normalize.css';
/*@import './fonts.css';*/
@import './sidebar.css';
@import './topnav.css';
/*@import './apps/Srinawesin/index.css';*/

/* custom variables for app */
:root {
	/* goldenrod & darker versions */
	--main-color: hsl(43, 94%, 60%);
	--main-darker-color: hsl(43, 94%, 40%);
	--main-darkest-color: hsl(43, 94%, 20%);

	/* light theme */
	--light-text-color: black;
	--light-background-color: white;
	--light-font-weight: normal;

	--light-window-background-color: hsl(0, 0%, calc(100% * 16 / 16));
	--light-window-header-background-color: hsl(0, 0%, calc(100% * 15 / 16));
	--light-window-border-color: hsl(0, 0%, calc(100% * 11 / 16));
	--light-highlight-color: hsl(0, 0%, calc(100% * 11 / 16));
	--light-transition-color: hsl(0, 0%, calc(100% * 10 / 16));

	/* dark theme */
	--dark-text-color: hsl(0, 0%, calc(100% * 14 / 16));
	--dark-background-color: black;
	--dark-font-weight: 800;
	--dark-window-background-color: hsl(0, 0%, calc(100% * 3 / 16));
	--dark-window-header-background-color: hsl(0, 0%, calc(100% * 2 / 16));
	--dark-window-border-color: hsl(0, 0%, calc(100% * 5 / 16));
	--dark-highlight-color: hsl(0, 0%, calc(100% * 5 / 16));
	--dark-transition-color: hsl(0, 0%, calc(100% * 6 / 16));

	/* current theme */
	--layout-navbar-thickness: 3em;
	--layout-floating-margins: 1em;
	--device-width-cutoff: 50em;
	--window-border-radius: 0;

	--text-color: var(--light-text-color);
	--font-weight: var(--light-font-weight);
	--background-color: var(--light-background-color);
	--window-background-color: var(--light-window-background-color);
	--window-header-background-color: var(--light-window-header-background-color);
	--window-border-color: var(--light-window-border-color);
	--highlight-color: var(--light-highlight-color);
	--transition-color: var(--light-transition-color);
}

/* expand top elements by default */
html, body, #app, .app-layout {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	font-family: 'AlegreyaSans', sans;
}

.app-layout {
	font-size: 1.2em;
	background-color: var(--background-color);
	color: var(--text-color);
	font-weight: var(--font-weight);
}
.app-layout.light {
	--text-color: var(--light-text-color);
	--font-weight: var(--light-font-weight);
	--background-color: var(--light-background-color);
	--window-background-color: var(--light-window-background-color);
	--window-header-background-color: var(--light-window-header-background-color);
	--window-border-color: var(--light-window-border-color);
	--highlight-color: var(--light-highlight-color);
	--transition-color: var(--light-transition-color);
}
.app-layout.dark {
	--text-color: var(--dark-text-color);
	--font-weight: var(--dark-font-weight);
	--background-color: var(--dark-background-color);
	--window-background-color: var(--dark-window-background-color);
	--window-header-background-color: var(--dark-window-header-background-color);
	--window-border-color: var(--dark-window-border-color);
	--highlight-color: var(--dark-highlight-color);
	--transition-color: var(--dark-transition-color);
}

/* main content is maximized with windows floating over it
 */
.main-content {
	height: 100%;
	width: 100%;
}

/* bounding boxes for currenting debugging elements */
.debug {
	border: solid grey 1px;
}

.window {
	position: absolute;
}

/* all windows are their own floating divs ontop of the main content */
.window, .window-styled {
	background-color: var(--window-background-color);
	border: solid 1px var(--window-border-color);
	border-radius: var(--window-border-radius);
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.window-margins {
	margin: var(--layout-floating-margins);
}

/* header for windows */
.window-header {
	padding: 0.5em;
	background: var(--window-header-background-color);
	border-top-left-radius: var(--window-border-radius);
	border-top-right-radius: var(--window-border-radius);
	cursor: pointer;
	display: flex;
}

.window-header > *, legend > * {
	display: flex;
}

.window.minimized > .window-header > :last-child::after,
legend.minimized > :last-child::after {
	content: " ▲";
}
.window.expanded > .window-header > :last-child::after,
legend.expanded > :last-child::after {
	content: " ▼";
}

/* add margins to all but the header */
.window.window-margins > .window-header:not(:last-child) {
	margin-bottom: 0.5em;
}
.window.window-margins > :not(.window-header) {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.window.window-margins > :last-child:not(.window-header) {
	margin-bottom: 0.5em;
}

.flex-spacer {
	flex: 1;
}

.flex-center-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* base input styling */
button, input {
	color: var(--text-color);
	background-color: var(--window-header-background-color);
	display: block;
	width: 100%;
	padding: 0.2em;
	border: 1px solid;
	border-color: var(--window-border-color);
	border-radius: var(--window-border-radius);
	font-weight: bold;
}

button, .clickable {
	cursor: pointer;
}

button:hover, a:hover, input:focus, .clickable:hover {
	background-color: var(--highlight-color);
}

button:active, .clickable:active {
	background-color: var(--transition-color);
}

a:focus, button:focus, .clickable:focus {
	border-color: var(--transition-color);
}

button:disabled, input:disabled, .clickable:disabled {
	background-color: #333;
	border-color: #333;
	color: #aaa;
}

fieldset {
	border-color: var(--window-border-color);
}

fieldset > legend {
	cursor: pointer;
}

/* basic form element building-blocks */
.text-field {
	display: flex;
	flex-direction: column;
}

.dom-visible {
	display: default;
}
.dom-hidden {
	display: none;
}
.three-dom-window {
	margin: 0;
	margin-left: 0.5em;
	margin-top: 0.5em;
	position: initial;
}

body canvas {
	background-color: black;
}

.radio-header {
	display: flex;
	flex-direction: row;
}

.radio-header > * {
	flex: 1;
	text-align: center;
	padding: 0.5em;
	margin: 0;
}

.radio-header > *:not(:last-child) {
	border-right: solid 1px var(--window-border-color);
}
.radio-header > .selected {
	background-color: var(--highlight-color);
}
