/*************
 * Alegreya (Serif)
 */
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Alegreya';
	src: url('../fonts/alegreya/Alegreya-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}


/* Small Caps variation */
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSC';
	src: url('../fonts/alegreya/AlegreyaSC-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

/*************
 * Alegreya-Sans (Sans-Serif)
 */
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSans';
	src: url('../fonts/alegreya_sans/AlegreyaSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}


/* Small Caps variation */
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'AlegreyaSansSC';
	src: url('../fonts/alegreya_sans/AlegreyaSansSC-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
