/* top-right sidebar which holds settings
 */
.sidebar {
	top: 0;
	right: 0;
	max-height: calc(100% - var(--layout-floating-margins));
}

.settings-form fieldset > p:not(:first-child) {
	margin-top: 0.25em;
	margin-bottom: 0;
}

.settings-form fieldset:not(:first-child) {
	margin-top: 0.5em;
	margin-bottom: 0;
}
