/* top-left nav (navigation to different sub-apps)
 */
.main-nav {
	top: 0;
	left: 0;
	max-height: calc(100% - var(--layout-floating-margins));
}

.main-nav-item {
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}
.main-nav > .main-nav-item:last-child {
	border-bottom-left-radius: var(--window-border-radius);
	border-bottom-right-radius: var(--window-border-radius);
}
.main-nav > .main-nav-item:not(:last-child) {
	border-bottom: 1px solid var(--window-border-color);
}
.main-nav-item {
	cursor: pointer;
}
.main-nav-item.is-active {
	background-color: var(--highlight-color);
}
.main-nav-item:active {
	background-color: var(--transition-color);
}
